CORE_TEST_CLUSTER_LOCAL=1
CORE_TEST_ETCD=1
ETCD_ENDPOINTS=127.0.0.1:2379
CORE_TEST_CONSUL=1
CONSUL_HTTP_ADDR=127.0.0.1:8500
CORE_TEST_REDIS_STREAM=1
CORE_TEST_REDIS_ADDR=127.0.0.1:6379
CORE_TEST_NATS=1
CORE_TEST_NATS_URL=nats://127.0.0.1:4222

CORE_TEST_KAFKA=1
CORE_TEST_KAFKA_BROKERS=127.0.0.1:9092
CORE_TEST_RABBITMQ=1
CORE_TEST_RABBITMQ_URL=amqp://core:core_test_password@127.0.0.1:5672/
